@{
    ViewData["Title"] = "Takvim";
    Layout = "_Layout";
}

<div class="header">
    <h1>Nöbet Takvimi</h1>
</div>

<div class="container">
    <div id="calendar"></div>
</div>

@section Scripts {
        <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>
        <script src="/js/takvim.js"></script>
}

